aside{
    height: 100%;
    width: 80px;
    position: fixed;
    left: 0;
    background-color: #2A3139;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    z-index: 100;
}
aside .logo {
    margin-top: 20px;
}
aside .logo a{
    height: 100%;
    display: flex;
}
aside .pages{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    gap: 30px;
    background-color: #2A3139;
}
aside .pages div{
    width: 100%;
}
.active-link{
    border-left: 4px solid #189541;
    color: #189541;
    display: flex;
}
.active-link span{
    color: white !important;
}
.active-link img{
    color: white !important;
}
.active-link div {
    left: -2px;
    position: relative;
}
aside .pages div a div{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    height: 80px;
}
aside .pages div a div img{
    width: 30px;
    height: 30px;
}
aside .pages div a div span{
    font-size: 14px;
    text-decoration: none;
    color: #6A7787;
    font-family: sans-serif;
    font-weight: bold;
}