<aside>
    <div class="logo">
        <a>
            <img src="assets/icons/logo.svg" alt="">
        </a>
    </div>
    <div class="pages">
        <div class="sport">
            <a routerLink="/sports" routerLinkActive="active-link">
                <div>
                    <img src="assets/icons/sport.svg" alt="">
                    <span>SPORTS</span>
                </div>
            </a>
        </div>
        <div class="live">
            <a routerLink="/live" routerLinkActive="active-link">
                <div>
                    <img src="assets/icons/live.svg" alt="">
                    <span>LIVE</span>
                </div>
            </a>
        </div>
        <div class="slots">
            <a routerLink="/slots" routerLinkActive="active-link">
                <div>
                    <img src="assets/icons/slot.svg" alt="">
                    <span>SLOTS</span>
                </div>
            </a>
        </div>
        <div class="casino">
            <a routerLink="/casino" routerLinkActive="active-link">
                <div>
                    <img src="assets/icons/casino.svg" alt="">
                    <span>CASINO</span>
                </div>
            </a>
        </div>
    </div>
</aside>