.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    text-align: center;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    padding-bottom: 25px;
    height: 100%;
    margin-left: 85px;
}
.container .item:not(:nth-child(1)){
    min-height: 230px;
    max-height: 230px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.container .item:nth-child(1){
    min-height: 479px;
    max-height: 479px;
}
.container div:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    max-height: 478px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    align-items: center;
    position: relative;
    z-index: 98;
}
.container div:nth-child(1) .play{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: -50px;
    background-color: #15AF44;
    z-index: 99;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.play{
    transition: 0.3s ease-in-out;
}
.container div:nth-child(1):hover .play{
    margin-top: -300px;
    transition: 0.3s ease-in-out;
}
.container div .play:hover:not(:nth-child(1)){
    background-color: #19d452;
}
.container div img{
    transition: 0.3s ease-in-out;
}
.container div:hover .card_bottom{
    background-color: #454D57;
}
.container div:hover img{
    opacity: 0.6;
}
.container div .card_bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    margin-top: -4px;
    background-color: #252B33;
    height: 20%;
    position: relative;
    z-index: 100;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container div .card_bottom span{
    margin-left: 20px;
    font-size: 14px;
    font-family: sans-serif;
}
.container div:hover:not(:nth-child(1)) .play{
    top: -65%;
    z-index: 99;
}
.container div:not(:nth-child(1)) .play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    position: relative;
    background-color: #15AF44;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -50px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.container div:not(:nth-child(1)) .card_bottom_small {
    width: 100%;
    background-color: #252B33;
    height: 20%;
}
img{
    width: 100%;
    height: calc(100% - 20%);
    position: relative;
    z-index: 97;
}
@media (max-width: 1300px) {
    .container{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1200px) {
    .container{
        grid-template-columns: repeat(5, 1fr);
    }
}