section{
    text-align: center;
    margin-right: auto;
    /* width: 100%; */
    /* height: 100%; */
    margin-left: auto;
    display: flex;
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    max-height: 120px;
    margin-left: 85px;
}
section .bottom_filter{
    height: 60px;
    /* width: 100%; */
    max-width: 1900px;
    width: calc(100% - 10px);
}
section .top_filter{
    background-color: #1D242C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 60px;
    /* width: 100%; */
    max-width: 1900px;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
section .top_filter .selected{
    border-bottom: 4px solid #189541;
    color: #189541;
}
section .top_filter div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 20px;
    /* width: 100%; */
    max-width: 100vh;
    gap: 5px;
    font-family: cursive;
    height: 98%;
    cursor: pointer;
}
section .top_filter div:hover{
    color: #189541;
}
section .top_filter .amount{
    position: relative;
    top: -10px;
    font-size: 11px;
    font-family: cursive;
}
section .bottom_filter{
    background-color: #272D36;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section .bottom_filter div{
    min-width: 50px;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #D9E3EF;
}
section .bottom_filter div:hover{
    color: #95a4b3;
}
section .bottom_filter .selected{
    border-bottom: 4px solid #189541;
}
@media (max-width: 1800px) {
    section{
        font-size: 12px;
    }
}
@media (max-width: 1400px) {
    section{
        font-size: 10px;
    }
    section .bottom_filter div{
        min-width: 30px;
    }
}
@media (max-width: 1150px) {
    section{
        font-size: 8px;
    }
}